@model LMS.Models.Issue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issue_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issue_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Return_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Return_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.AustId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.AustId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Issue_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
