@model IEnumerable<LMS.Models.Issue>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Issue_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Return_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeadLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.AustId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (Session["Id"] != null)
        {
            if (Session["AustId"].Equals(item.Member.AustId) && item.Return_Status.Equals("false"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Issue_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Return_Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Taken)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeadLine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.AustId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Issue_Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Issue_Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Issue_Id })
                    </td>
                </tr>
            }
        }

    }

</table>
